.expert {
    height: 716px;
	background-image: url(../img/expert.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -280px 0%;
	background-color: #ededed;
}

.expert_notepad {
/*    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-bottom: 25px;
    background: url(../img/text-background.png) no-repeat;
    background-size: 100% 100%;*/
    position: relative;
    top: 14px;
/*    top: 50%;
    transform: translateY(-50%);*/
    max-width: 610px;
    float: right;
}

@media (max-width:991px) {
    .expert {
/*        background-position: -360px 0%;
        height: 738px;*/

        background: 0 0;
        height: auto;
    }    
    .expert_notepad {
        position: static;
        /*max-width: 580px;*/
        float: none;
        margin: 0 auto;
        padding-right: 46px !important;
        padding-left: 74px !important;
    }     
}

@media (max-width:520px) { 
    .expert_notepad {
        background: 0 0;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

/*    .section6__text {
        font-size: 16px !important;
    }
    .section6__header {
        font-size: 20px !important;
    }*/
}


