.expert {
    height: 740px;
	background-image: url(../img/expert.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -240px 50%;
	background-color: #ededed;
}

.expert_notepad {
/*    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-bottom: 25px;
    background: url(../img/text-background.png) no-repeat;
    background-size: 100% 100%;*/
    position: relative;
    top: 34px;
/*    top: 50%;
    transform: translateY(-50%);*/
    max-width: 610px;
    float: right;
}

@media (max-width:991px) {
    .expert {
        background-position: -410px 50%;
    }    
    .expert_notepad {
        position: static;
        max-width: 580px;
    }     
}

/*@media (max-width:768px) {
    .expert_notepad {
        max-width: 580px;
    }
}*/